<h1>Edit Scientist</h1>

<%= render 'form' %>

<%# 
A mission must have a unique name, a scientist, and a planet.

After the mission is created, the user should be redirect to the scientist's detail page %>